<a href="https://colab.research.google.com/github/girishvnair/JupyterNotebooks/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pathlib import Path
Path('my_data.db').touch()

In [ ]:
import sqlite3
conn = sqlite3.connect('my_data.db')
c = conn.cursor()

In [ ]:
import pandas as pd
# load the data into a Pandas DataFrame
mobile_price = pd.read_csv('mobile_price.csv')
# write the data to a sqlite table
mobile_price.to_sql('users', conn, if_exists='append', index = False)

In [ ]:
c.execute('''select * from users limit 1''').fetchall()

[(842,
  0,
  2.2,
  0,
  1,
  0,
  7,
  0.6,
  188,
  2,
  2,
  20,
  756,
  2549,
  9,
  7,
  19,
  0,
  0,
  1,
  1)]

In [ ]:
pd.read_sql('''SELECT * FROM users''',conn)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3